/*
 Theme Name:   Better Capture
 Description:  Custom CSS
 Author:       Yazamo
 Author URI:   http://yazamo.com
 Template:     Better Capture
 Version:      1.0.0
 Tags:         Custom Responsive Theme based on Foundation 5
*/

@charset "utf-8";
/* CSS Document */


body { background: #ffffff;}

/* colors */

.white { color: #fff !important;}
.black { color: #08202b !important;}
.OpenSans { font-family: 'Open Sans';}
h4.PTSans { font-family: 'PT Sans', sans-serif;}


/************************************************************************************** Header PHP*/

.topmenu { padding-top: 1em; font-family: 'Avenir-Roman'; }
.topmenu ul li a { font-family: 'Avenir-Roman';}
.linksCol {margin-bottom: -1em;}
h1.logo { width: 221px; height: 71px;}
.top-bar .toggle-topbar a, .top-bar .toggle-topbar.menu-icon a { color: #4cc8af;}
nav.top=bar.show-for-small-only { background: #fff !important;}
ul.title-area .name h1 a { font-family: 'Avenir-Medium', sans-serif; font-size: 1.2em; color: #4cc8af;}
.top-bar.expanded .title-area, .top-bar-section ul li { background: #ddd;}
.top-bar-section ul li a { color: #008cba;}


@media only screen and (min-width: 64em) 
.linksCol {
padding-top: 1em; }

.top-bar { font-family: 'Avenir-Light', sans-serif; background: #fff; box-shadow: 0 4px 2px -2px #f1f1f1;
} 

.top-bar-section ul li.active>a { background: #4cc8af;}
.top-bar-section ul li a:hover { background: #4cc8af; }
.top-bar-section ul li>a { font-family: 'Avenir-Black'; text-transform: uppercase; } 

ul.topLinks li {
	list-style:none;
	display:inline-block;
	padding-right:1em;
}

ul.topLinks ul {  }

ul.topLinks li a.button{
	background: #3eb58d;
	font-size:1.250em;
	font-family: 'Avenir-Light';
	text-transform:none;
	border:1px solid #b03a27;
	height:50px;
	padding:0;
	padding:.6em 1em .6em 1em;
}

ul.topLinks li {
	list-style:none;
	display:inline-block;
	padding-right:0.5em;
}
ul.topLinks li a {
	font-family: 'Avenir-Roman';
	text-transform:uppercase;
	color:#08202b;
	font-size:1em;
	padding:.5em;
	border-radius:4px;
}

ul.topLinks li a:hover { background: #fff;
	
}
 
ul.topLinks li a.button{
	background: #3eb58d;
	font-size:1em;
	font-family: 'Avenir-Light';
	text-transform: uppercase;
	border:1px solid #1ea779;
	color: #fff;
	height:38px;
	padding:0;
	padding:.6em 1em .6em 1em;
}

ul.topLinks li a.button:hover {
	background:#1ea779;
}


ul.topLinks li.current-page-item a {
	font-weight: bold;
}

.menu { display: inline-block; }

/************************************************************************************** Index PHP*/

/* Video Player Section */

.homevideo { background: #dae3e6; padding-bottom: 3em; border-top: 2px solid #ccc;}
.row.video { padding-top: 2em;}
.videotitle { padding-top: 2em;}
.videotitle p.vidtitle { font-family: 'PT Sans', sans-serif; font-size: 2.5em; font-weight: bold; }
.videotitlemed p.vidtitle { font-family: 'PT Sans', sans-serif; font-size: 1.7em; font-weight: bold; }
.videotitlesmall p.vidtitle { font-family: 'PT Sans', sans-serif; font-size: 1.5em; font-weight: bold; }
.videotitle p { font-family: 'Open Sans', sans-serif; font-size: 0.8em;}
.videoplayer { margin-top: 2em;}


/* Benefits List Section */

p.benefitstitle { font-family: 'PT Sans', sans-serif; font-weight: bold; font-size: 1.9em; margin-bottom: 0;}
p.benefitstitlemed { font-family: 'PT Sans', sans-serif; text-decoration: underline; font-weight: bold; font-size: 1.5em; margin-bottom: 0;}
p.benefitstitlesmall { font-family: 'PT Sans', sans-serif; text-decoration: underline; font-weight: bold; font-size: 1.2em; margin-bottom: 0;}

.featurelist { padding-top: 0.8em; font-family: 'PT Sans', sans-serif;}
.featurelist p { line-height: 1.3em;}
.featurelist ul { margin-left: 0;}
.featurelist li { line-height: 1.7em; font-weight: bold; font-size: 1.2em;}
.featurelist ul li.email { list-style-type: none; background: url('../img/FeaturedListEmail.png') top left no-repeat; padding: 0px 0px 3px 45px;}
.featurelist ul li.traffic { list-style-type: none; background: url('../img/FeaturedListTraffic.png') top left no-repeat; padding: 3px 0px 3px 45px;}
.featurelist ul li.analyze { list-style-type: none; background: url('../img/FeaturedListAnalyze.png') top left no-repeat; padding: 3px 0px 3px 45px;}
.featurelist ul li.customize { list-style-type: none; background: url('../img/FeaturedListCustomize.png') top left no-repeat; padding: 3px 0px 3px 45px;}
.featurelist ul li.integration { list-style-type: none; background: url('../img/FeaturedListIntegration.png') top left no-repeat; padding: 3px 0px 3px 45px;}

.featurelistmed ul, .featurelistsmall ul { margin-left: 0;}
.featurelistmed li { line-height: 1.7em; font-weight: bold; font-size: 1em;}
.featurelistmed ul li.email, .featurelistmed ul li.traffic, .featurelistmed ul li.analyze, .featurelistmed ul li.customize, .featurelistmed ul li.integration,
.featurelistsmall ul li.email, .featurelistsmall ul li.traffic, .featurelistsmall ul li.analyze, .featurelistsmall ul li.customize, .featurelistsmall ul li.integration { list-style-type: none; }



/* Sign Up Form */


.signupform { background: #dae3e6; }
.signupformwrapper { padding: 0em 8em;}

.row.signup { background: #3a4143; padding: 2em; border-radius: .2em;}
.signupform h5 {  color: #fff; margin:0;}
.signupcaption { padding: 2em;}
.signupwrapper { }
.row.signupbg { background: #3a4143;
position: relative;
max-width: 830px;
left: -70px;}
.row.signupbgmed { background: #3a4143;
position: relative;
max-width: 400px;}
.signupbutton { background: #3eb58d; font-family: 'Avenir-Medium'; padding: .6em 1.4em;}

.row.formwidth { max-width: 775px; }


/* Successful Leads */

.homeleads { background: #3a4143; height: 95px; padding-top: 0.8em;}
.homeleads .successfulleadstext { font-family: 'PT Sans', sans-serif; font-size: 1.9em; color: #ffffff; }
.homeleadsmed { background: #3a4143; padding-top: 1em;}
.homeleadsmed .successfulleadstextmed { font-family: 'PT Sans', sans-serif; font-size: 1.3em; color: #ffffff; line-height: 3em;}

span.counterboxmed { font-family: 'PT Sans', sans-serif; font-weight: bold; font-size: 1.2em;}
span.countermed { background: url('../img/CounterBG.png') center no-repeat; padding: .7em;}

span.counterbox { font-family: 'PT Sans', sans-serif; font-weight: bold; font-size: 1.4em;}
span.counter { background: url('../img/CounterBG.png') center no-repeat; padding: 0.35em;}


/* 5 Features */

.row.featurebox { padding: 40px 0 40px 0; }
img.fullleft { position: absolute; left:25%;}
img.fullright { position: absolute; right:25%;}

.homefeatures { background: #ffffff; /* padding-bottom: 0.5em; */}
.homefeatures .row { /* padding-bottom: 3em; */}
.homefeatures h3 { font-family: 'Open Sans', sans-serif; font-weight: bold;}

.conversions { padding-bottom: 0em; } 

.conversionstext { font-style: normal; font-size: 0.8em; font-family: 'Open Sans', sans-serif;}
.authortext { font-style: italic; font-size: 0.8em; font-family: Georgia, sans-serif;}
.conversionpctleft { float: left; }
.conversionpctleft.green { border: 2px solid #3eb58d; padding: 0.3em; -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;}
.conversionpctleft.blue { border: 2px solid #4cafc8; padding: 0.3em; -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;}

.conversionpctright { float: right; }
.conversionpctright.blue { border: 2px solid #4cafc8; padding: 0.3em; -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;}

.authorquotesection span.authorquotehome { font-family: 'PT Sans', sans-serif; vertical-align: middle; font-weight: normal;}
.authorquotesection { padding-top: 1em;}




ol.orbit-bullets { cursor: pointer !important}
.orbit-container .orbit-bullets li { background: #fff;}
.orbit-container .orbit-bullets li.active { background: #3d4b52; }

.hometestimonials { background: url('../img/TestimonialsBG.png') top center repeat; max-height: 745px; background-size: contain !important; padding-top: 2em;}
.row.testimonialslider {}
.testimonialtitle { font-family: 'Open Sans'; }
.testimonialtitle p, .testimonialtitle h3 { font-weight: bold;}
.testimonialcol h5 { font-family: 'PT Sans', sans-serif; font-weight: bold;}
.testimonialcol dd { font-family: 'Open Sans'; font-style: italic; font-size: 1em; padding-top: 1em;}
.testimonialcol img { margin: 0 auto;}

.homesignup { background: #3d4b52; }
.homesignupcaption { padding: 1em;}

.row.formtitle { padding: 0.5em; }
.row.formtitle h3 { background: none !important}



/* Orbit Slider */





/* Bottom Sign Up Form */

 span.prefix, label.prefix { background: #ffffff; padding-top: 0.5em; border-bottom-left-radius: 5px;
border-top-left-radius: 5px; border-color: #fff;}

.starttrial p { font-family: 'Open Sans';
color: #fff;
line-height: 1em;
color: #fff;
width: 8em;
position: relative;
font-size: 1em;
left: 19px;}

.bottomformtitle h3 { padding-bottom: 1em;}



form .row .row.collapse input {
border-bottom-right-radius: 5px;
border-top-right-radius: 5px; }

.borderleft { border-bottom-left-radius: 5px;
border-top-left-radius: 5px; }
.borderright { border-bottom-right-radius: 5px;
border-top-right-radius: 5px;}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {

border: 1px solid #ccc;

}

button.success, .button.success {
background-color: #3eb58d; }

button.success:hover, .button.success:hover {
background-color: #3eb58d; }


button.success:hover, button.success:focus, .button.success:hover, .button.success:focus {
background-color: none; }








/* Footer */


.topfooter { padding-top: 1.5em; padding-bottom: 1.5em; ;}
 
.breadcrumbs { background: none !important; border: none !important;}

 p.copyText { color: #414446; font-size: 0.8em;}

 p.PTSans, .PTSans { font-family: 'PT Sans', sans-serif; }
 p.Avenir { font-family: 'Avenir-Medium';}









/************************************************************************************** Pricing PHP */

.info { margin-top: 4em;}
.pricingsection { margin-top: 1em;}

div[data-equalizer-watch] {
  position: relative;
}
.posBottom {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

large-3.columns.procolumns { background: #fff; }

.pricing-table { border: 1px solid #f9fafa;} 
.pricing-table .price { background: none; }

.row.collapse.recommended.planbox { margin-top: 1em;
background: #fff;
z-index: 0;
}

.large-3.columns.recommended.standardcolumn, .medium-4.columns.recommended.standardcolumn, .small-4.columns.recommended.standardcolumn { margin-top: 2em; background: #fff; }
.medium-3.columns.recommended.procolumn { float:left;}


ul.pricing-table.left-side.standardbox,  .large-3.columns.standardcolumn, .large-3.columns.procolumn { background: #fff; }
ul.pricing-table.probox { background-color: white; padding-bottom: 0.6em;}

.large-3.columns.standardcolumn.smallcol, .large-3.columns.procolumn.smallcol { min-width: 434px;}

.large-3.columns.standardcolumn.medcol, .large-3.columns.procolumn.medcol { min-width: 250px;}


ul.pricing-table.left-side { border-left: none;}
ul.pricing-table.left-side.planfeature li.bullet-item { text-align: right; padding-right: 2em;}
ul.pricing-table.left-side.planfeature li.bullet-item.last { border-bottom: none;}
ul.pricing-table.left-side.planfeaturemed li.bullet-item { text-align: right; padding-right: 1em; }
ul.pricing-table.left-side.planfeaturemed li.bullet-item.last { border-bottom: none;}
ul.pricing-table li.title { background: none; }
ul.pricing-table li.bullet-item.feature { background: #f9fafa;}




ul.pricing-table.right-side.recommended { z-index: 0; position: relative; top: 1.3em;}

ul.pricing-table.emptybox { height: 11em; }


ul.pricing-table.standardbox li.title span.standardplantitle { color: #08202b; text-transform: uppercase; font-family: 'Avenir-Black', sans-serif; font-size: 0.9em; }
ul.pricing-table.standardbox li.price.standard { font-family: 'Avenir-Roman', sans-serif;
font-size: 0.9em; padding-top: 0; }

ul.pricing-table.standardbox li.price span.standardprice { color: #4cafc8; text-transform: uppercase; font-family: 'Avenir-Black', sans-serif; font-size: 2.5em; }


ul.pricing-table.probox li.title span.proplantitle { color: #08202b; text-transform: uppercase; font-family: 'Avenir-Black', sans-serif; font-size: 1.1em; }
ul.pricing-table.probox li.title { padding-top: 2em; }
ul.pricing-table.probox li.price.pro { font-family: 'Avenir-Roman', sans-serif; font-size: 0.9em; }
ul.pricing-table.probox li.price span.proprice { color: #3eb58d; text-transform: uppercase; font-family: 'Avenir-Black', sans-serif; font-size: 3.2em; }

ul.pricing-table.probox li.price.pro { margin-top: -1.5em; }
ul.pricing-table.probox li.price.prosave { font-size: 1em;}
ul.pricing-table.probox li.price.prosave span.prosave { font-family: 'Avenir-Roman', sans-serif;  }


ul.pricing-table li.price { font-size: 0.8em; } 
ul.pricing-table.emptytable { border-top: none; }
ul.pricing-table { margin-bottom: 0; }
ul.pricing-table .price { }
ul.pricing-table i { display: inline-block; margin-right: 5px; }
ul.pricing-table li.bullet-item { font-family: 'Open Sans', sans-serif; font-weight: bold;}

.large-3.columns.recommended.standardcolumn ul.pricing-table.left-side li.bullet-item.tick,
.large-3.columns.recommended.recommended ul.pricing-table li.bullet-item.tick,
.recommended.procolumn ul.pricing-table li.bullet-item.tick,
.small-4.columns ul.pricing-table.left-side li.bullet-item.tick { padding: 0.5em; max-height:45px; min-height:45px height: 45px;}
.large-3.columns.recommended.recommended ul.pricing-table li.bullet-item.push { border-bottom: none !important;}
    
ul.pricing-table.right-side.emptytable img.sticker { position: relative; left: -2em; top: 2em; z-index: 5;}

ul.pricing-table li.bullet-item.top { border-top: solid 1px #f1f1f1; }
.pricing-table .bullet-item { border-bottom: solid 1px #f1f1f1 !important; }
ul.pricing-table li.bullet-item.push { height: 5em; }

ul.pricing-table.standardbox li.price.standardsave span.standardsave span.standardstrikeout,
ul.pricing-table.probox li.price.prosave span.prosave span.prostrikeout{ color: #4cafc8; text-decoration: line-through;}


ul.pricing-table.standardbox li.price.standardsave, 
ul.pricing-table.probox li.price.prosave { font-family: 'Avenir-Roman', sans-serif; font-size: 1em; padding-top: 0;}

.recommended { box-shadow: 0 0 10px rgba(0,0,0,0.25); position: relative; z-index: 2; }

.row.spacer { height: 3em; }

.info { padding-bottom: 5em; }

.paymentoptions { margin-top: 2em; }


ul.pricing-table li.cta-button { padding: 0em .5em;}

.row li.cta-buttonsmall { list-style-type: none; padding: 0em .5em; text-align: center;}

.button.radius.buynow, .button.success.radius.buynow { width: 100%; font-size: 1em; padding-right: 1em; padding-left: 1em; font-family: 'Avenir-Black', sans-serif;}
.button.radius.buynowmed, .button.success.radius.buynowmed { width: 100%; font-size: 0.8em; padding-right: 1em; padding-left: 1em; font-family: 'Avenir-Black', sans-serif;} 


p.subscriptiontext { font-size: 0.8em; line-height: 2.1em;}


.row.authorrow { margin-top: 2em; }
dd.pricingauthorquote { font-family: Georgia, sans-serif; font-style: italic; font-size: 0.9em; font-weight: normal; line-height: 1.7em; padding-right: 1.5em;}

.bottomdetails { margin-top: 2em;}


@media only screen and (min-width: 768px){
.left-side { border-right: none; }
.right-side { border-left: none; }
}


@media only (min-width: 640px) and (max-width: 665px) {

    .linksCol ul li { padding-right: 0em; }
    
}


input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url('img/RadioInactive.png') left top no-repeat;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    background:url('img/RadioActive.png') -19px top no-repeat;
}


.radio {
	width: 19px;
	height: 25px;
	padding: 0 5px 0 0;
	background: url('img/RadioInactive.png') no-repeat;
	display: block;
	clear: left;
	float: left;
}
.radio {
	background: url(radio.png) no-repeat;
}
.select {
	position: absolute;
	width: 158px; /* With the padding included, the width is 190 pixels: the actual width of the image. */
	height: 21px;
	padding: 0 24px 0 8px;
	color: #fff;
	font: 12px/21px arial,sans-serif;
	background: url(select.png) no-repeat;
	overflow: hidden;
}




span.choosetext strong { padding-left: 3em; }
span.choosetext { padding-left: 2em; }



.authorquotesection span.authorquote { font-family: 'PT Sans', sans-serif; vertical-align: text-bottom; font-weight: bold;}


.column-billing {
float: left; left: 1em;
font-size: 14px;
font-weight: normal;
position: relative; }
    
.column-billing .monthly.active a, .column-billing .annual.active a {
background: url('../img/pricing-radio-active.png') 5px 12px no-repeat; }

.column-billing .monthly a, .column-billing .annual a {
color: #5a5a5a;
display: block;
background: url('../img/pricing-radio.png') 5px 11px no-repeat;
padding: 15px 10px 15px 30px;
}






/************************************************************************************** Order PHP */

.ordersection, .orderpeople, .row.riskfreemed { margin-top: 5em;}
.ordertitle { margin-top: 2em; }

.orderpeople { padding-bottom: 4em;}
.ordersection { background: #f9fafa; padding-top: 3.5em; padding-bottom: 2em;}
.pricingsection { background: #f9fafa; }
.ordercopyright, .pricingcopyright { padding-top: 1em; padding-bottom: 1em;}

fieldset.accountfield { padding: 3em 2.5em 1em; background: #fff; margin-top: -1em;}
fieldset.accountfield.text-left legend { padding: 0; margin: 0;}
.row.accountbuttonsection { padding-top: 1em; padding-bottom: 1em;}
fieldset.accountfield.text-left label span.username, fieldset.accountfield.text-left label span.password { color: #696f71; position:relative; top: -0.5em;} 

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
border-color: rgba(127,220,189,0.8);
outline: 0;
outline: thin dotted \9;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(127,220,189,0.6);
-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(127,220,189,0.6);
box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(127,220,189,0.6); }

h3.createaccount { position: relative; top: -0.6em;}

a.button.success.PTSans.accountbutton { font-weight: bold;}
span.disclaimer p { font-size: 0.75em; line-height: 1.5em; color: #575f62;}
span.disclaimer a { color: #575f62; }

span.order30daytrial { font-weight: bold; font-size: 2em; }
span.order30daytrialsmall { font-weight: bold; font-size: 1.4em;}
.row.makeaccountrow { margin-top: 1em;}

.row.orderauthorlogo { padding: 1em; }

.stickercol { margin-top: -5.5em;}

ul.riskfree { margin-left: 0;} 
ul.riskfree li { font-size: 0.9em; list-style-type: none; background: url('../img/TickList.png') top left no-repeat; padding: 3px 0px 3px 35px;}

.row.orderauthorquote p { font-family: Georgia, sans-serif; color: #71777b; font-style: italic; font-size: 0.9em; padding: 0em 4em;}

.row.orderauthorname { font-weight: bold; margin-bottom: 2em;}
.row.orderauthorname span { vertical-align: middle; }



/************************************************************************************** Page Template Header,  Content and Footer customizations */


.orderpagefooter { background: #f9f9f9; }
.pricingpagefooter { background: #f9f9f9; }

.breadcrumbstemplate > * a { color: #414446;}







/* Home Blog Styles */

#content .post { border: 1px solid #ccc; margin-bottom: 2em;}


section.homeBlog {
	 background:#FFF;
}

section.homeBlog .homeBlogRow{
	max-width:100%;
	padding-left:.5em;
	padding-right:.5em;
}
h4.blogTitle {
	color:#333;
	font-family: 'AvenirLTStd-Heavy';
	margin:0;
	padding:0;
	line-height:1em;
	padding-top:.3em;
	font-size:1.500em;
}
ul.blogMeta {
	margin:0;
	padding:0;
	line-height:1.2em;
	padding-bottom:.5em;
	padding-top:.1em;
}
ul.blogMeta li {
	list-style:none;
	display:inline-block;
	margin:0;
	padding:0;
	font-family: 'AvenirLTStd-Book';
	font-size:0.813em;
	color:#959595;
}
ul.blogMeta li a {
	font-family: 'AvenirLTStd-Book';
	color:#959595;
	
}
ul.blogMeta li a:hover {
	text-decoration:underline;
}
.blogCols {
	background:#f8f8f8;	
	border-left:1px solid #FFF;
	border-right:1px solid #FFF;
	
	
}
 
.dateCol {
	border-right:1px solid #fafafa;
	padding:0;
	background:#f00;
	height:100%;
	padding-bottom:42.5%;
	background:url(/rh/images/blogIcon.jpg) bottom center no-repeat;
	background-size:contain;
	width: 10%; 
	 
	 
	 
}

.newsCol {
	border-left:1px solid #ededed;
	padding-top:.5em;
	padding-bottom:1em;
	width: 90%;
}

.blogDateDay {
	margin:0;
	padding:0;
	font-family: 'AvenirLTStd-Book';
	font-size:2.250em;
	color:#555555;
	line-height:1em;
	padding-top:.3em;
 
}
.blogDateMonth{
	margin:0;
	padding:0;
	font-family: 'Avenir-Black';
	font-size:1em;
	text-transform:uppercase;
	color:#555555;
	line-height:1.2em;
}
.blogDateYear {
	margin:0;
	padding:0;
	font-family: 'Avenir-Light';
	font-size:1.125em;
	color:#555555;
	line-height:1.2em;
}

.blogLogo {
	 
	padding-top:100%;
}
/* End Home Blog */

/* Section Twitter */
section.homeTwitter {
 
	background:#FFF;
	border-top:1px solid #dddddd;
	padding-top:5px;
	padding-bottom:5px;
}
.twitterRowMain {
	max-width:100%;
	padding-left:.5em;
	padding-right:.5em;
}
.twitCol {
	background:url(/rh/images/twitCol.jpg) center left no-repeat;
	padding-top:25px;
	background-size:cover;
	height:100%;
	max-height:200px;
	border-right:1px solid #FFF;
	border-left:1px solid #FFf;
	 
	 
	
}

h6.twitUser {
	font-family: 'AvenirLTStd-Heavy';
	color:#FFF;
	font-size:1em;
	margin:0;
	padding:0;
	
}

p.tweet {
	font-family: 'Avenir-Light';
	color:#FFF;
	font-size:1em;
	margin:0;
	padding:0;
	line-height:1.2em; 
}

p.twitLink {
	 padding-left:35px;
}

.twitLinkRow {
	padding-top:15%; 

}
p.twitLink a {
	color:#FFF;
	font-family: 'AvenirLTStd-Heavy';
	font-size:0.875em;
}
p.twitLink a:hover {
	text-decoration:underline;	
}
/* End Twitter */



.blogsection { margin-top: 1em;}



#content #post { border: 1px solid #ccc;} 







/************************************************************** 404 Page */

.error404 { margin-top: 20px;}


h1.error404 {	font-family: 'Avenir-Black', sans-serif; color: #4dbfc8;
	line-height: 1; font-size: 200px;}


@media only screen and (max-width: 470px) { 


h1.error404 {  font-size: 100px !important;}


}


@media only (min-width: 470px) and (max-width: 635px) {


h1.error404 {  font-size: 150px !important;}

}


@media only (min-width: 635px) and (max-width: 1024px) { 


h1.error404 {  font-size: 250px !important;}


}

.errormessage { margin-top: 2em; margin-bottom: 1em;}
.errormessage h3.errormessage { color: #ccc; font-family: 'Avenir-Black', sans-serif;}

a.button.radius.success.error { font-family: 'Avenir-Roman', sans-serif; background: #4dbfc8;}
a.button.radius.success.error:hover { background: #3aa8b1;}



.error404 .page-header {
	background-color: none;
}

h1.page-title { font-family: 'Avenir-Black', sans-serif;
	color: #ccc; 
	margin: 0;
	text-align: center;
	width: auto; line-height: 1em;
}

.wrap { min-height:100%;}

/*
.error404 .page-title:before {
	color: #4dbfc8;
	content: "404";
	font-size: 300px;
	line-height: 1;
	overflow: hidden;
	position: absolute;
	left: 150px;
	top: 28px;
}

.error404 .page-wrapper {
	background-color: #e8e5ce;
}

.error404 .page-header,
.error404 .page-content {
	margin: 0 auto;
	max-width: 1040px;
	padding-bottom: 40px;
	width: 100%;
} */

/*
.error404 { min-height: 100%;}

.error404 .page-header, .error404 .page-content {
margin: 0 auto;
max-width: 100%;
padding-bottom: 40px;
width: 100%; }


@media only screen and (max-width: 58.750em) { 
    
.error404 .page-title:after {
    color: #ccc; font-family: 'Avenir-Black', sans-serif;
    content: "not found"; text-transform: uppercase;
    font-size: 40px; text-align: center;
    line-height: 1;
    overflow: hidden;
    position: absolute;
    top: 120px; right: 90px;
}
    
}



@media only screen and (max-width: 58.750em) { 
    
.error404 .page-title:before {
    color: #4dbfc8;
    content: "404"; 
    font-size: 230px; text-align: center;
    line-height: 1;
    overflow: hidden;
    position: absolute;
    top: 70px; left: 120px;

}
    
.error404 .page-title:after {
    color: #ccc; font-family: 'Avenir-Black', sans-serif;
    content: "not found"; text-transform: uppercase;
    font-size: 40px; text-align: center;
    line-height: 1;
    overflow: hidden;
    position: absolute;
    top: 120px; right: 90px;
}
}




@media only (min-width: 58.750em) and (max-width: 64em) { 
    
.error404 .page-title:before {
    color: #4dbfc8;
    content: "404"; 
    font-size: 320px; text-align: center;
    line-height: 1;
    overflow: hidden;
    position: absolute;
    top: 70px; left: 20px;

}
    
.error404 .page-title:after {
    color: #ccc; font-family: 'Avenir-Black', sans-serif;
    content: "not found"; text-transform: uppercase;
    font-size: 45px; text-align: center;
    line-height: 1;
    overflow: hidden;
    position: absolute;
    top: 120px; right: 70px;
}
}



@media only screen and (min-width: 64em) { 
    
.error404 .page-title:before {
    color: #4dbfc8;
    content: "404"; 
    font-size: 350px; text-align: center;
    line-height: 1;
    overflow: hidden;
    position: absolute;
    top: 70px; left: 20px;

}
    
.error404 .page-title:after {
    color: #ccc; font-family: 'Avenir-Black', sans-serif;
    color: #ccc; font-family: 'Avenir-Black', sans-serif;
    content: "not found"; text-transform: uppercase;
    font-size: 50px; text-align: center;
    line-height: 1;
    overflow: hidden;
    position: absolute;
    top: 120px; right: 70px;
}
} */
 

.searchbar { background: #ccc; height: 10em;}


/************************************************************************************** Payment PHP Page */



.paymentquestiontitle { margin-top: 2em; padding-bottom: 0.5em; border-bottom: 1px solid #ccc;}

.row.paymentquestions { text-align: left; margin-top: 1em;}
h5.paymentquestion { font-family: 'Open Sans', sans-serif; font-size: 0.9em; font-weight: bold;}
p.paymentanswer { font-family: 'Open Sans', sans-serif; font-size: 0.8em; line-height: 2em; padding-right: 3em;}

ul.pricing-table.right-side.emptytable img.sticker { position: relative; left: -2em; top: 2em; z-index: 5;}

.row.orderreview { background: #f9fafa; font-family: 'PT Sans', sans-serif; padding: .5em 2em;}

fieldset.accountfieldpayment { padding: 3em 2em 1em; background: #fff; margin-top: -1em;}
fieldset.accountfieldpayment.text-left legend { padding: 0; margin: 0;}

h4.orderreviewtitle { font-weight: bold;} 

.small-4.columns.stickercolpayment { margin-top: -8em; position: relative; left: 5em; z-index: 10;}



div#main.<subpage-name>-left{width:240px;float:left;}
div#main.<subpage-name>-right{width:780px;float:right;}
article{margin-top: -44px;}


