@font-face {
	font-family: 'Avenir-Medium';
	src: url("../fonts/Avenir-Medium.eot");
	src: url("../fonts/Avenir-Medium?#iefix") format("embedded-opentype"),url("../fonts/Avenir-Medium.woff") format("woff"),url("../fonts/Avenir-Medium.ttf") format("truetype");
}

@font-face {
	font-family: 'Avenir-Light';
	src: url("../fonts/Avenir-Light.eot");
	src: url("../fonts/Avenir-Light?#iefix") format("embedded-opentype"),url("../fonts/Avenir-Light.woff") format("woff"),url("../fonts/Avenir-Light.ttf") format("truetype");
}

@font-face {
	font-family: 'Avenir-Roman';
	src: url("../fonts/Avenir-Roman.eot");
	src: url("../fonts/Avenir-Roman?#iefix") format("embedded-opentype"),url("../fonts/Avenir-Roman.woff") format("woff"),url("../fonts/Avenir-Roman.ttf") format("truetype");
}

@font-face {
	font-family: 'AvenirLTStd-Heavy';
	src: url("../fonts/AvenirLTStd-Heavy.eot");
	src: url("../fonts/AvenirLTStd-Heavy?#iefix") format("embedded-opentype"),url("../fonts/AvenirLTStd-Heavy.woff") format("woff"),url("../fonts/AvenirLTStd-Heavy.ttf") format("truetype");
}


@font-face {
	font-family: 'Avenir-Black';
	src: url("../fonts/Avenir-Black.eot");
	src: url("../fonts/Avenir-Black?#iefix") format("embedded-opentype"),url("../fonts/Avenir-Black.woff") format("woff"),url("../fonts/Avenir-Black.ttf") format("truetype");
}

@font-face {
	font-family: 'AvenirLTStd-Book';
	src: url("../fonts/AvenirLTStd-Book.eot");
	src: url("../fonts/AAvenirLTStd-Book?#iefix") format("embedded-opentype"),url("../fonts/AvenirLTStd-Book.woff") format("woff"),url("../fonts/AvenirLTStd-Book.ttf") format("truetype");
}

@font-face {
	font-family: 'AvenirLTStd-LightOblique';
	src: url("../fonts/AvenirLTStd-LightOblique.eot");
	src: url("../fonts/AvenirLTStd-LightOblique?#iefix") format("embedded-opentype"),url("../fonts/AvenirLTStd-LightOblique.woff") format("woff"),url("../fonts/AvenirLTStd-LightOblique.ttf") format("truetype");
}